<!--View 2 - Display the notice ID after the notice has been accepted by the notice publishing REST API.
A "Back" link allows View 2 to transition to View1 -->
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Success</title>
   </head>
   <body>

      <h2>
         Your message has been posted to the community message board
      </h2>

      <h3>The notice posting id is <span data-th-text="${id}"></span> </h3>
      <h2> <a href="/">Back</a></h2>
      
   </body>
</html>